@import './base/reset';
@import './utils/mixins';
@import './base/common';
@import './utils/hidden';
@import './utils/vars';

@import './components/container';
@import './components/logo';
@import './components/btn';
@import './components/section-title';
@import './components/modal';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/features';
@import './layouts/ourworks';
@import './layouts/ourteam';
@import './layouts/footer';
@import './layouts/ourclients';
@import './layouts/filter';
@import './layouts/projects';
