.section-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
