.hero {
  // padding: 200px 0px;
  padding: 118px 0;
  background-color: #2f303a;
  text-align: center;
  @include desktop {
    padding: 200px 0px;
  }
}

.hero-title {
  margin: 0px auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.button-hero {
  /* padding: 10px 32px; */
  width: 216px;
  height: 50px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.overlay {
  max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: var(--gradient), url('../images/hero1px-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  @include retina {
    background-image: var(--gradient), url(../images/hero2px-mob.jpg);
  }
  @include tablet {
    background-image: var(--gradient), url(../images/hero1px-tab.jpg);
    @include retina {
      background-image: var(--gradient), url(../images/hero2px-tab.jpg);
    }
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/bgimage.jpg);
    @include retina {
      background-image: var(--gradient), url(../images/bgimage2x.jpg);
    }
  }
}
